Actividad #8.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -384
        ],
        "id": "ec444d28-d4c9-4076-8513-aca2fc241ad3",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "url": "https://content.guardianapis.com/search?api-key=test&order-by=newest&page-size=10",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          -384
        ],
        "id": "cb2cc637-f124-421e-a56f-65cf36bb85f8",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "fieldToSplitOut": "response.results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          448,
          -384
        ],
        "id": "32956d08-a3b8-4240-9270-7670f4708f9f",
        "name": "Split Out"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f96e9bd0-cb0f-467e-9e2c-f95e4776a577",
                "leftValue": "={{ $json.sectionName }}",
                "rightValue": "Music",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "4584900d-c2ba-497c-b947-e30856645c27",
                "leftValue": "={{ $json.sectionName }}",
                "rightValue": "Sport",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          672,
          -384
        ],
        "id": "b0082e45-28ad-4b82-9abc-0aa68b18d993",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e78a48f2-36bd-455f-943e-4722ad300855",
                "name": "Title",
                "value": "={{ $json.webTitle }}",
                "type": "string"
              },
              {
                "id": "979f4863-fe41-4615-93c6-1eacd0b05c0c",
                "name": "SectionName",
                "value": "={{ $json.sectionName }}",
                "type": "string"
              },
              {
                "id": "19552a62-1b7f-4a92-8888-aa069e878991",
                "name": "WebUrl",
                "value": "={{ $json.webUrl }}",
                "type": "string"
              },
              {
                "id": "01587a79-4ec5-40e0-b867-c30d22144dad",
                "name": "WebPublicationDate",
                "value": "={{ $json.webPublicationDate }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          -480
        ],
        "id": "97324ca6-60df-40e6-9f54-4bafeb7b5f45",
        "name": "Edit Fields"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          896,
          -288
        ],
        "id": "3c038a66-be5c-47a8-a7aa-f748422a6da2",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "operation": "setInputs"
        },
        "type": "n8n-nodes-base.evaluation",
        "typeVersion": 4.8,
        "position": [
          1120,
          -480
        ],
        "id": "47d4fa6c-d7f1-442f-8bda-3fea3d7d8e47",
        "name": "Evaluation"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Evaluation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "65d204920d267a825ddab3d83e2225c95929dcadea6d6787773854ccbae2872d"
    }
  }